<h2>Edit Entry #<%=@entry.id %></h2>

<fieldset>
  <form action = "/entries/<%=@entry.id%>" method = "post">
    <input id = "hidden" type= "hidden" name="_method" value= "patch">
    <label>Date:</label>
    <input type= "date" name="entry[date]" value = "<%= @entry.date %>">
    <br><br>
      <textarea name="entry[content]" style="width:680px;height:150px;"><%= @entry.content %></textarea>
    <br><br>
    <input type= "submit" value="Edit">
  </form>
</fieldset>
