<center><h1>New Entry</h1></center>

<fieldset>
  <form action= "/entries" method= "post">
    <label>Date:</label>
    <input type= "date" name="entry[date]">
    <br><br>
    <input type= "text" name="entry[content]" placeholder ="enter entry here">
    <br>
    <input type= "submit" value="Submit">
  </form>
</fieldset>
