<h1>New Entry</h1>

<fieldset>
  <form action= "/entries" method= "post">
    <label>Date:</label>

      <input type= "date" name="entry[date]">
      <br><br>
      <textarea name="entry[content]" placeholder ="enter entry here" style="width:680px;height:150px;"></textarea>
      <br>
      <br>
    <input type= "submit" value="Submit">
  </form>
</fieldset>
