<center>
  <h1><%=current_user.username%>'s Journal</h1>
    <fieldset>
        <h3>You currently have <%=current_user.entries.count %> entries.</h3>
    </fieldset>

    <br>
    <button><a href= "/entries">View Entries</a></button>
    <button><a href= "/entries/new">New Entry</a></button>
    <button><a href= "/logout">Logout</a></button>
</center>
