<h2><center>Users Login</center></h2>

  <fieldset>
      <form action="/users/login" method="post">
        <label>Username</label><br>
        <input type="text" name="user[username]">
        <br><br>
        <label>Password</label><br>
        <input type="password" name="user[password]">
        <br><br>
        <input type="submit" value="Login">
        <br><br>
      </form>
  </fieldset>
