<h1><center>Users Login</center></h1>

  <fieldset>
      <form action="/login" method="post">
        <label>Username</label><br>
        <input type="text" name="username">
        <br><br>
        <label>Password</label><br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Login">
        <br><br>
      </form>
  </fieldset>

      <br>

  <center><button><a href = "/">Main</a></button></center>
