  <h1><center>Sign Up Form</center></h1>

    <fieldset>
        <form action="/signup" method="post">
          <label>Username</label><br>
          <input type="text" name="username">
          <br><br>
          <label>Email</label><br>
          <input type="email" name="email">
          <br><br>
          <label>Password</label><br>
          <input type="password" name="password">
          <br><br>
          <input type="submit" value="Sign Up">
          <br><br>
        </form>
    </fieldset>

    <br>

    <center><button><a href = "/">Home</a></button><center>
